<div class="text-center">
    <h1 class="display-4 mb-4">SuperChat</h1>
    <div id="chat" style="height: 400px; text-align: left;" class="form-control mb-3"></div>
    <div style="display: flex; flex-direction: row; width: 100%; align-items: baseline; gap: 5px;">
        <label for="msgInput" style="white-space: nowrap;">Your message: </label>
        <input type="text" class="form-control" id="msgInput">
        <button type="button" id="sendBtn" class="btn btn-primary">Send</button>
    </div>
</div>
